.App {
  text-align: center;
  color: whitesmoke
}
body{
  background-color: rgba(105, 105, 105, 0.782);
}

ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1vw;
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #2e5ebd;
  color: #313131;
  width: 100%;
  max-width: 500px;

  padding: 5px 5px;
}


