.App {
  text-align: center;
  color: rgba(255, 255, 255, 0.852)
}

body {
  background-color: #2a2424;
  
}


.card {
  justify-content: center;
  color: whitesmoke;
  width: 80%;
  border-radius: 10px;
  background: radial-gradient(#76b2fe, #b69efe);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  max-height: 20%;
  padding: 5px 5px;
}


.item {
  color: #2a2424;
}

#backhome {
  color: #4d4b4b;
}

.title {
  background-color: rgba(245, 222, 179, 0.871);
  color: rgba(41, 41, 41, 0.852);
  border-radius: 3px;
}