.App {
  text-align: center;
  color: rgba(255, 255, 255, 0.852)
}

body {
  background-color: #2a2424;
  display: grid;
}


.card {
  position: relative;
  display: block;
  justify-content: center;
  background-color: #849dce6f;
  color: whitesmoke;
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  border-radius: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
}


.item {
  color: #2a2424;
}

#backhome {
  color: #4d4b4b;
}
.title {
  background-color: rgba(245, 222, 179, 0.871);
  color: rgba(41, 41, 41, 0.852);
  border-radius: 3px;
}